div {
  margin-left: auto;
  margin-right: auto;
}

.board {
  width: 639px;
  height: 639px;
  background-color: rgb(226, 239, 255);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {

}

.choose {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  margin: 1em;
}

.chooseBtn {
  width: 5em;
  height: 2em;
  border-radius: 25%/50%;
}

.reset{
  width: 6em;
  height: 2em;
  border-radius: 25%/50%;
}

div div {
  width: 210px;
  height: 210px;
  border: black solid 1px;
  float: left;
  /* text-align: center;
  vertical-align: middle;
  line-height: 210px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
}

header {
  text-align: center;
  align-items: center;
}

#message {
  text-align: center;
}

#message h2 {}

.square:nth-of-type(2n-1) {
  border:
}

div div:hover {
  background-color: #ebebeb;
  cursor: pointer;
}
